/*************************** GENERIC UI ***************************/

/* h2 {
  margin-bottom: 40px;
  font-weight: bold;
} */

.datepicker{
  z-index:99999 !important;
}

.title_margin_bottom {
  margin-bottom: 20px;
}

.title_margin_top {
  margin-top: 60px;
}

.title_bold {
  font-weight: bold;
}

.title_center {
  text-align: center;
}

.btn_margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.doc-link {
 margin-top:10px;
 margin-bottom:10px;
}

.tab {
 padding-left:5%;
}


body {padding-top: 70px;}

/* margin to avoid navbar overlay */
.tab_homepage > .page-container{
  margin-top: -240px;
}

.tab_documentation, .tab_privatearea {
  margin-top: 60px;
}

/* generic page container for impagination */
.page-container{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

/* hero container */
.front-banner {
   /* overflow: visible; */
   height: 650px;
   margin-left: -15px;
}

/* hero image */
.front-banner > .img_container {
   background-image: url("hero-image.jpg");
   background-size: cover;
   background-position: center center;
   position: absolute;
   margin-top: -320px;
   z-index: -1;
   width: 100%;
   height: inherit;
}

/* hero title container */
.front-banner > .h_container {
   width: 700px;
   padding: 30px 60px 30px 60px;
   background-color: #2c3e50;
   margin-top: 280px;
   color: #fefefe;
   font-weight: bold !important;
}

/* hero title */
.front-banner > .h_container > h1 {
   font-weight: 200;
   margin-bottom: 0;
   padding-top: 0;
   margin-top: 10px;
}

/*************************** LOGIN UI ***************************/

#out_message {
  color: red;
  text-align: center;
  font-weight: bold;
}

#out_errormsg_login, #out_errormsg_email, #out_errormsg_pass {
  margin-top:15px;
}

#well_registration {
  margin-left: 10%;
  margin-right: 5%;
}

#well_login {
  margin-left: 5%;
  margin-right: 10%;
}

#link_mod_email, #link_mod_pw, #link_mod_name, #link_mod_affiliation,
#link_mod_applicationfield, #link_mod_country, #link_mod_surname {
  float: right;
}

#slot_mod_email, #slot_mod_name, #slot_mod_affiliation, #slot_mod_applicationfield, #slot_mod_country, #slot_mod_surname {
  padding-left: 15px;
  padding-top: 40px;
}


@media only screen and (max-width: 600px) {
  .navbar-nav{
    margin-top: -40px;
  }

  .front-banner {
    /* margin-top: 40px; */
  }
  .front-banner > .img_container {
    height: inherit;
    margin-top: -400px;
  }
  /* hero title container */
  .front-banner > .h_container {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 100px;
  }

  .front-banner > .hcon > h1 {
    padding-top: 10px;
 }
}


/*************************** MODAL ERRORS ***************************/

#modal-error .modal-content{
    color: #e74c3c;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#modal-error .modal-header{
    border-bottom: 1px solid white;
    text-align: center;
    padding-top: 40px;

}

#modal-error .modal-title {
  font-weight: bold;
  font-size: 21px;
}

#modal-error .modal-footer{
    border-top: 1px solid white;
}

#modal-error a {
  color: grey;
}

#modal-error .btn {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

#modal-error .btn:hover {
  background-color: #bf2718;
  border-color: #bf2718;
}
